/* MASTER */

@wrap: 1280px; 
@gutter: 16px;

@d : '/css/';
  
@import 'utils/reset.less';
@import '../fnt/fonts.less';
@import 'utils/grid.less';
@import 'utils/helpers.less';
@import 'utils/css3.less';
@import 'utils/normalise.less';


// Example LESS
// Shows how to use helpers to rapidly create themes
html body {
  .sans_serif;
}

#brain {
  .fixPos(50%,0,50%,100%);
}
 
#environment {
  .fixPos(0,0,50%,100%);
}

#info {
  .fixPos(10px,10px,auto,auto);
  background:rgba(0,0,0,0.6);
  color:#fff;
  padding:5px 10px;
  z-index:50;
}